{% load static %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}" dir="{% if is_rtl %}rtl{% else %}ltr{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block header %}
    {% endblock %}




    {% block content %}{% endblock %}

    {% block footer %}

    {% endblock %}

    {% block extra_js %}{% endblock %}

</body>

</html>